<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./asset/css/login.css" />
    <script type="text/javascript" src="./asset/js/signup.js"></script>

    <title>ثبت نام</title>
  </head>
  <body dir="rtl">
    <form
      class="login"
      name="signupform"
      action="{{ route('UserController.create') }}"
      method="POST"
    >
      <div class="login-screen">
        <div class="app-title">
          <h1>ثبت نام</h1>
        </div>
        <div class="login-form">
          <div class="logins">
            <input
              required
              type="text"
              placeholder="نام و نام خانوادگی"
              name="name"
              class="login-field"
            />
            @if(hasErrorFor('name'))
            <span>
                {{ getErrorFor('name') }}
            </span>
            @endif
            <input
              required
              type="email"
              style="direction: ltr"
              placeholder="ایمیل"
              name="email"
              class="login-field"
            />
            @if(hasErrorFor('email'))
            <span>
                {{ getErrorFor('email') }}
            </span>
            @endif
            <input
              required
              type="text"
              placeholder="شماره تلفن"
              name="phone"
              class="login-field"
            />
            @if(hasErrorFor('phone'))
            <span>
                {{ getErrorFor('phone') }}
            </span>
        @endif
            <input
              required
              type="text"
              placeholder="آدرس"
              name="Address"
              class="login-field"
            />
            @if(hasErrorFor('Address'))
            <span>
                {{ getErrorFor('Address') }}
            </span>
             @endif
            <input
              required
              type="password"
              placeholder="رمز عبور"
              name="password"
              minlength="4"
              class="login-field"
            />
            @if(hasErrorFor('password'))
            <span>
                {{ getErrorFor('password') }}
            </span>
             @endif
            <input
              required
              type="password"
              placeholder="تکرار رمز عبور"
              name="confirmpassword"
              minlength="4"
              class="login-field"
            />
          </div>

          <input type="submit" class="login-btn" value="ثبت نام" />
        </div>
      </div>
    </form>
  </body>
</html>
