<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/css/enterFood.css">
    <script type="text/javascript" src="./asset/js/enterFoodName.js"></script>
  
    <title>ثبت غذای جدید</title>
  </head>
  <body>
    <form method="post" action="/newfood"  name="food"  id="foodForm" enctype="multipart/form-data" >
      <div id= "food-type-screen">
        <div class="title">
          <h1>ثبت غذا</h1>
        </div>
        
        <div class="food-name">
          <label for="name" class="labels">نام غذا</label>
          <input type="text"  class="food-field" minlength="4" maxlength="254" name="name" placeholder="نام غذا" value="{{ old('name', '') }}">
        </div>
        @if(hasErrorFor('name'))
        <span>
            {{ getErrorFor('name') }}
        </span>
        @endif
  
        <div class="food-name">
          <label for="categoryName" class="labels">نوع غذا</label>
          <input type="text"  class="food-field" name="categoryName" maxlength= "254" placeholder="نوع غذا" list = "foodtype" value="{{ old('categoryName', '') }}">
          <datalist id="foodtype" >
            <option value = "پیتزا">
            <option value = "خورشت">
          </datalist>
        </div>
        @if(hasErrorFor('categoryName'))
        <span>
            {{ getErrorFor('categoryName') }}
        </span>
        @endif
        <div class="food-name">
          <label for="price" class="labels">قیمت غذا</label>
          <div style="display:flex;"><input type="number" class="food-field" name="price" placeholder="قیمت" value="{{ old('price', '') }}">
          <p>ریال</p></div>
        </div>
        @if(hasErrorFor('price'))
        <span>
            {{ getErrorFor('price') }}
        </span>
        @endif
        <div id="enter-food-screen">
          <label for="food_img" class="labels">انتخاب عکس:</label>
          <input type="file"  name="food_img"  value="{{ old('food_img', '') }}">
        </div>
  
        <div class="desciption">
          <label for="description">توضیحات</label>
          <textarea rows="4" cols="50" maxlength="200" name="description"  value="{{ old('description', '') }}" ></textarea>
          @if(hasErrorFor('description'))
          <span>
              {{ getErrorFor('description') }}
          </span>
          @endif
        </div><div class="control-group">
          <input type="submit" class="food-btn" value="ذخیره">
        </div>

        
      </div>
      @if(flashMessage('notification'))
     <div> {{ flashMessage('notification') }} </div>
     @endif
    
    </form>
    
    
  
  </body></html>